body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 10%;
}

.centerHeader{
    margin-left: 400px;
}


.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}

/*Colors*/
.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.blueish-purple {
  background-color: #405de6;
}

.dark-purple {
  background-color: #5851db;
}

.purple {
  background-color: #833ab4;
}

.dark-pink {
  background-color: #c13584;
}

.light-pink {
  background-color: #e1306c;
}

.red {
  background-color: #fd1d1d;
}

/*Fonts*/
.font-panel {
  width: 45%;
  display: inline-block;
}
.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.comforter-brush {
  font-family: "Comforter Brush", cursive;
}

.m-plus-code-latin {
  font-family: "M PLUS Code Latin", sans-serif;
}

.kings {
  font-family: "Kings", cursive;
}

.pt-sans-narrow {
  font-family: "PT Sans Narrow", sans-serif;
}

/*Text Styles*/
.text-panel h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: "Comforter Brush", cursive;
}

.text-panel h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: "M PLUS Code Latin", sans-serif;
}

.text-panel h3 {
  font-weight: 300;
  font-size: 18px;
  font-family: "Kings", cursive;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: "PT Sans Narrow", sans-serif";
}

